# Required environment variables

# Google Configuration
GEMINI_API_KEY=
MEDIUM_GOOGLE_MODEL=gemini-2.0-flash                   # Default: gemini-1.5-flash-latest
LARGE_GOOGLE_MODEL=gemini-2.0-flash                    # Default: gemini-1.5-pro-latest
SMALL_GOOGLE_MODEL=gemini-2.0-flash

# (Optional) OPENAI Configuration
OPENAI_API_KEY=sk-* # Not used in our demo. If you use this, please update all references to GEMINI_API_KEY with OPENAI_API_KEY

# Your Blockchain Gateway Configuration
EVM_PRIVATE_KEY=
ETHEREUM_PROVIDER_SONEIUMMINATO="https://rpc.minato.soneium.org"                   # rpc urls to Soneium Minato

# SUPABASE Configuration
SUPABASE_API_KEY=

# For the Twitter Integration - your stretch assignment.
TWITTER_USERNAME=
TWITTER_PASSWORD=
TWITTER_EMAIL=
TWITTER_POLL_INTERVAL=30 # seconds
TWITTER_DRY_RUN=false
TWITTER_RETRY_LIMIT=5
